/* custom.scss */

/* import the necessary Bootstrap files */
@import "../vendor/bootstrap/functions";
@import "../vendor/bootstrap/variables";

/* -------begin customization-------- */

/* simply assign the value */
$body-bg: #eeeeee;

/* or, use an existing variable */
$theme-colors: (
        primary: $purple
);
/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "bootstrap";


